# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
hardware/fpga_signal_path/db/fpga_signal_path.db_info
hardware/fpga_signal_path/db/fpga_signal_path.quiproj.229447.rdr.flock
hardware/fpga_signal_path/fpga_signal_path.qsf.bak
hardware/fpga_signal_path/.qsys_edit/
hardware/fpga_signal_path/incremental_db/
hardware/fpga_signal_path/db/
hardware/fpga_signal_path/output_files/
hardware/fpga_signal_path/simulation/
hardware/fpga_signal_path/programs/RemoteSystemsTempFiles/
hardware/fpga_signal_path/programs/.metadata
hardware/fpga_signal_path/software/
hardware/fpga_signal_path/nios2_cpu/
hardware/fpga_signal_path/synthesis/
hardware/fpga_com_link/
hardware/fpga_signal_path/fpga_signal_path.qsf
hardware/fpga_signal_path/nios2_cpu.sopcinfo
hardware/fpga_signal_path/nios2_cpu/nios2_cpu_generation_previous.rpt
hardware/fpga_signal_path/nios2_cpu/nios2_cpu_generation.rpt
hardware/fpga_signal_path/nios2_cpu/nios2_cpu.bsf
hardware/fpga_signal_path/nios2_cpu/nios2_cpu.cmp
hardware/fpga_signal_path/nios2_cpu/nios2_cpu.html
hardware/fpga_signal_path/nios2_cpu/nios2_cpu.xml
hardware/fpga_signal_path/nios2_cpu/synthesis/nios2_cpu.debuginfo
hardware/fpga_signal_path/nios2_cpu/synthesis/nios2_cpu.qip
hardware/fpga_signal_path/nios2_cpu/synthesis/nios2_cpu.regmap
hardware/fpga_signal_path/nios2_cpu/synthesis/nios2_cpu.v
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/altera_merlin_arbitrator.sv
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/altera_merlin_burst_uncompressor.sv
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/altera_merlin_master_agent.sv
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/altera_merlin_master_translator.sv
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/altera_merlin_slave_agent.sv
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/altera_merlin_slave_translator.sv
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/altera_reset_controller.sdc
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/altera_reset_controller.v
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/altera_reset_synchronizer.v
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/nios2_cpu_cpu_cpu.v
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/nios2_cpu_cpu.v
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/nios2_cpu_mm_interconnect_0_avalon_st_adapter_error_adapter_0.sv
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/nios2_cpu_mm_interconnect_0_avalon_st_adapter.v
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/nios2_cpu_mm_interconnect_0_router_001.sv
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/nios2_cpu_mm_interconnect_0_router_002.sv
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/nios2_cpu_mm_interconnect_0_router_003.sv
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/nios2_cpu_mm_interconnect_0_router.sv
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/nios2_cpu_mm_interconnect_0.v
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/nios2_cpu_switch.v
hardware/fpga_signal_path/nios2_cpu/synthesis/submodules/nios2_cpu_sysclk_timer.v
